body { 
  font-family: arial;
  background: white;
}

/* So it doesn't flicker while we load */
body {
  display: none;
}


/* ************* Common to PacksViewer and CardViewer ****************** */

/* Make them 90% width and height of screen */
html,body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fill-screen {
  height: 90%;
  width: 90%;
}

/* Bottom "thumb zone" is a fixed height; the "non-thumb-zone" fills the rest of the space */
.fill-screen {
  display: flex; flex-flow: column;
}
.non-thumb-zone {
  flex-grow: 1;
}
.thumb-zone {
  height: 130px;
}

/* Rows of buttons are rounded, as wide as possible, with wrapping text */
.row-of-buttons {
  display: flex; flex-flow: row;
  align-items: center;
  justify-content: space-around;

  height: 100%;
}
.row-of-buttons input[type="button"] {
  border-radius: .5em;
  height: 100%;
  width: 100%;
  margin-left: 1%; margin-right: 1%;
  font-size: 3em;
  word-wrap: break-word;
  white-space: normal;
}



/*************** PacksViewer ************ */

/* Colors */
.settings .row-of-buttons input:not([checked]) {
  background: white;
}
.settings input[checked] {
  border: 3px solid black;
}


/* 2 columns of notecards, full width, can't widen */
.packs {
  display: flex; flex-flow: row nowrap;
}
.packlist {
  flex-grow: 1;
  max-width: 50%;
}

/* each column's notecards are full width */
.packlist {
  display: flex; flex-flow: column;
}
.pack {
  flex-grow: 1;
}

/* Packs look like notecards, good size, easy to read */
.pack {
  background: url(img/notecard.png) no-repeat center center;
  background-size: 100% 100%;
  max-height: 4em;
  margin: 15px; 
  font-size: 50px;
  white-space: normal;
}



/*************** CardViewer ************ */

/* Colors */
.card-top-half {
  background: #328b95;
}
.card-bottom-half {
  background: #c5c2bd;
}
.row-of-buttons input[type="button"] {
  background: #3e8d39;
}
.row-of-buttons input[type="button"].controls-clear-errors {
  background: #619da4;
}
.row-of-buttons input[type="button"].controls-wrong,
#error-types-section input[type="button"]
{
  background: #cc3434;
}
[data-answer] {
  background: white;
}
#face-hint {
  background: #d44;
  color: #333;
}
.face.obscured {
  color: gray;
}


/* Card top and bottom halfs split the available height */
.card {
  display: flex; flex-flow: column;
}
.card-top-half {
  flex-grow: 6;
}
.card-bottom-half {
  flex-grow: 4;
}

/* Faces are centered in the card */
.card-top-half, .card-bottom-half {
  display: flex; flex-flow: column;
  justify-content: center;
  align-items: center;
}

/* Errors have smaller text to fit on buttons */
.controls #error-types-section input[type="button"] {
  font-size: 2em;
}

/* Card is rounded on top and bottom and separated from the controls*/
.card-top-half {
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
}
.card-bottom-half {
  border-bottom-right-radius: .2em;
  border-bottom-left-radius: .2em;
}
.card {
  margin-bottom: 20px;
}

/* *********** CardViewer Face stylin ************ */

/* Face text is centered and easy to read */
.card {
  font-size: 50px;
}
.face {
  display: flex; flex-flow: column;
  align-items: center;
  justify-content: center;
}

/* Basic faces on top half are bigger */
.card-top-half .basic {
  font-size: 2em;
}

/* color and height of obscured/unobscured stuff */
[data-answer] {
  height: 2em;
}

/* obscured stuff is marked thus */
.face.obscured {
  border: 5px dashed black;
  border-radius: .3em;
  font-style: italic;
}
/* revealed stuff looks like this */
.face:not(.obscured)[data-answer] {
  border: 5px dashed white;
  border-radius: .3em;
}

/* Faces have spaces around them */
.face {
  margin: 20px;
  width: 80%;
}

/* Warning is rounded, italic, and a little taller */
#face-hint {
  border-radius: .3em;
  height: 1.5em;
}

/* Pack name at top right */
.card {
  position: relative;
}
#face-pack_name {
  position: absolute;
  font-size: .5em;
  width: 40%;
  right: 10px;
  top: 10px;
}
